@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* =========Typhography Start ======= */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
.primary-btn a {
  padding: 15px 25px;
  border: 1px solid #0d1321c2;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
}
p {
  color: #0d1321;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}
.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.item-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
/* =========Typhography End ======= */

/* =========Header Start ======= */
header {
  padding: 40px 80px;
  background-color: #ffffff;
}
header .logo {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
header .primary-btn a {
  color: #0d1321;
}
/* =========Header End ======= */

/* =========Banner Start ======= */
.banner-section {
  min-height: 650px;
  background-image: url(../images/Hero-bg.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.banner-section .container {
  padding: 60px 0px;
}
.banner-section h1 {
  color: #0d1321;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 25px;
  line-height: 68px;
}
.banner-image img {
  max-width: 250px;
  margin-bottom: 30px;
}
.banner-section .primary-btn {
  margin-top: 50px;
}
.banner-section .primary-btn a {
  background-color: #0d1321;
  color: #ffffff;
}
.banner-section p {
  color: #0d1321;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}
/* =========Banner End ======= */

/* =========FAQ-section Start ======= */
.faq-section {
  padding: 40px 0px;
  margin: 50px 80px;
  background-color: #f9f9f9;
  min-height: 500px;
  border-radius: 16px;
}
.heading-text h1 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 20px;
}
.faq-section .container {
  padding: 40px;
  margin: 30px 80px;
  border-radius: 16px;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.faq-section .reverse {
  background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.faq-section .content-part {
  padding: 5px 15px;
}
.faq-section .content-part h2 {
  color: #0d1321b3;
  font-size: 36px;
}
.faq-section .primary-btn {
  margin-top: 40px;
}
.faq-section .primary-btn a {
  color: #0d1321;
  border: 1px solid #0d13217a;
  opacity: 0.7;
  border-radius: 0px;
}
.faq-section .image-part img {
  width: 275px;
}

/* =========FAQ-section End ======= */

/* ========= Our-Mentor-section Start ======= */
.our-mentor-section {
  margin: 90px 0px;
  min-height: 400px;
  flex-direction: column;
}
.our-mentor-section .heading-text h1 {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 900;
}
.our-mentor-section .video-area {
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  max-width: 1000px;
  border: 1px solid #27213636;
  border-radius: 16px;
}
.our-mentor-section .video-area video {
  width: 950px;
}

/* ========= Our-Mentor-section End ======= */

/* =========Roadmap-section Start ======= */
.roadmap-section {
  padding: 50px 10px;
  margin: 70px 80px;
  min-height: 460px;
}
.roadmap-section h1 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 20px;
}
.roadmap-section .heading-text {
  text-align: center;
}
.roadmap-section .card-items {
  margin-top: 50px;
  gap: 20px;
}
.roadmap-section .card {
  min-width: 250px;
  min-height: 260px;
  border-radius: 15px;
  padding: 40px;
}
.roadmap-section .card img {
  width: 56px;
  margin-bottom: 20px;
}
.roadmap-section .card p {
  margin-bottom: 25px;
}
.roadmap-section .card a {
  color: #0d1321;
  font-weight: bold;
  text-decoration: underline;
}
.card-1 {
  background-color: #fff6f4;
}
.card-2 {
  background-color: #f2f6fe;
}
.card-3 {
  background-color: #fffdf2;
}
/* =========Roadmap-section End ======= */

/* =========Next-Roadmap-section Start ======= */
.next-roadmap-section {
  margin: 70px 80px;
  min-height: 460px;
}
.next-roadmap-section .heading-text > h1 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 20px;
}
.next-roadmap-section .heading-text {
  margin-bottom: 70px;
}
.next-roadmap-section .items-box {
  gap: 30px;
  border: 1px solid #0d132141;
  padding: 40px;
  border-radius: 15px;
  margin-bottom: 30px;
}
.next-roadmap-section img {
  width: 95px;
}
.next-roadmap-section .right-content h1 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 900;
}
.next-roadmap-section .right-content a {
  color: #0d1321;
  font-weight: bold;
  text-decoration: underline;
}
/* =========Next-Roadmap-section End ======= */

/* ========= Start ======= */
/* ========= End ======= */

/* =========Contact-section Start ======= */
/* #contact-section{
min-height: 300px;

} */
#contact-section .contact-form {
  width: 100%;
  margin: 50px 80px;
  padding: 80px 30px;
  min-height: 230px;
  border-radius: 16px;
  background-color: #080a208b;
  background-blend-mode: overlay;
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}
#contact-section .contact-form h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
#contact-section .contact-form p {
  color: #ffffff;
}
#contact-section input[type="text"] {
  min-width: 400px;
  padding: 17px 20px;
  border-radius: 8px;
  border: none;
  outline: none;
}
#contact-section input[type="button"] {
  padding: 13px 20px;
  margin-left: 20px;
  color: #0d1321;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
#contact-section input::placeholder {
  color: #0d13215b;
  font-family: "Azeret Mono", monospace;
}
/* =========Contact-section End ======= */

/* =========Footer Start ======= */
footer {
  padding: 25px 80px;
  background-color: #e1e1e1;
}
footer .footer-text {
  color: #080a20;
  font-weight: 600;
  opacity: 1;
}
footer .social-icon {
  gap: 20px;
}
/* =========Footer End ======= */
